<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${shortdate}-console-internal.log"
      internalLogLevel="Info" >

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="logfile" fileName="${shortdate}-logfile.log"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Database" name="databaseTarget" connectionString="Server=192.168.178.93;Database=DiscordBotTest;User=root;Password=philip;"
			commandText="INSERT INTO Loggings (date,LogLevel,Logger,Message, Exception) VALUES (@date,@logLevel,@logger, @message,@exception)">
			<parameter name="@date" layout="${longdate}"/>
			<parameter name="@logLevel" layout="${level}"/>
			<parameter name="@logger" layout="${logger}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@exception" layout="${exception:tostring}"/>
			<dbProvider>MySql.Data.MySqlClient.MySqlConnection, MySql.Data</dbProvider>
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.*" minlevel="Trace" writeTo="logfile,logconsole,databaseTarget"/>
		<logger name="*" minlevel="Trace" writeTo="logfile,logconsole,databaseTarget" />
	</rules>
</nlog>